{
  "presets": ["babel-preset-expo", "react-native-dotenv"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "webdevelopment": {
      "presets": ["react-native", "react-native-dotenv"],
      "plugins": [
        "react-native-web/babel",
        "transform-react-jsx-source"
      ]
    },
    "webproduction": {
      "presets": ["react-native"],
      "plugins": [
        "react-native-web/babel"
      ]
    }
  }
}
