# create react native app
App.js
.expo/
.env
.env.*
.*.md

# storybook
storyLoader.js

# npm/yarn
node_modules/
npm-debug.*
yarn-error.log

# operating system files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp

coverage/

# generated at runtime
app.json
ios/newspring/Supporting/EXBuildConstants.json

ios/newspring/Supporting/EXBuildConstants.plist

ios/newspring/Supporting/EXBuildConstants.plist.bak
