@font-face{
    font-family: 'Colfax-Light';
    font-style: normal;
    font-weight: 300;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Light.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Light.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-LightItalic';
    font-style:  italic;
    font-weight: 300;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-LightItalic.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-Regular';
    font-style: normal;
    font-weight: 400;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Regular.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Regular.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-RegularItalic';
    font-style:  italic;
    font-weight: 400;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/droid-serif/DroidSerif-RegularItalic.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/droid-serif/DroidSerif-RegularItalic.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-Medium';
    font-style: normal;
    font-weight: 500;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Medium.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Medium.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-MediumItalic';
    font-style:  italic;
    font-weight: 500;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-MediumItalic.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-Bold';
    font-style: normal;
    font-weight: 700;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Bold.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Bold.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-BoldItalic';
    font-style:  italic;
    font-weight: 700;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-BoldItalic.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-Black';
    font-style: normal;
    font-weight: 900;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Black.eot"); /* IE9 Compat Modes */
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-Black.woff") format("woff"), /* Pretty Modern Browsers */
}
@font-face{
    font-family: 'Colfax-BlackItalic';
    font-style:  italic;
    font-weight: 900;
    src: url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-BlackItalic.eot"); /* IE9 Compat Modes */
    src:
         url("https://d3n6tjerleuu41.cloudfront.net/fonts/colfax/Colfax-BlackItalic.woff") format("woff"), /* Pretty Modern Browsers */

}
